$brand-primary: #f3b629;
$brand-white: white;
$brand-gray: gray;
$border-gray: gray;
$brand-secondary: #89654e;
$brand-light-gray: gray;
$black05: black;
$background: #c8e7f1;
$border-color: #f4f4f4;
$border-size: 3px;
$shadow-color: #ded4d4b8;

$img: "../images/";
$FontPath: "../fonts";
$iconsFontFamily: "fiicons";
$iconsFontPath: "../fonts/fiicons";

$font-size-base: 16px;
$font-size-base-rtl: 14px;
$font-base: "Futura PT";
$font-base-rtl: "GE_SS_Two_Bold";
$brand-secondary: #2077a5;




$off-white:#F8F8F8;
$brand-primary: #115846;
$brand-gold: #cc903f;
$gold1: #b99b4196;
$gray: #515151;
$gray2: #d9d9d9;
$light-gray: #F1F1F1;
$gray3: #FAFAF9;
$Primary-gradient:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,88,70,1) 0%, rgba(204,144,63,1) 100%);
$btn-gradient1:rgb(8,147,111);
$btn-gradient:linear-gradient(90deg, rgba(8,147,111,1) 0%, rgba(31,160,128,1) 50%, rgba(17,88,70,1) 100%);

$liner-gradient-2:rgb(2,0,36);
$shadow-color: #CBCBCB;
$pure-white: #ffffff;
$main-border: 8px ;
$border1: 3px ;



$brand-dark-gray: #c9c9c9;
$green: #a3c891;
$brand-light-gray: #b7b7b7;
$brand-white-shade: #f2f2f7;
$border-gray: #e6e6e6;
$gold-shade: #fcf6f0;
$off-white: #f1f2f2;


$black: #000000;
$black2: #2A2A2A;
$transparent-light: rgba(255, 255, 255, 0.3);
$transparent-light-hard: rgba(255, 255, 255, 0.8);
$transparent-gold: rgba(181, 147, 93, 0.2);
$transparent-blue: rgba(49, 86, 121, 0.3);
$transparent-gray: rgba(88, 97, 108, 0.8);

$blue1: rgba(36, 82, 122, 100%);

$black01: rgba(0, 0, 0, 0.1);
$black02: rgba(0, 0, 0, 0.2);
$black03: rgba(0, 0, 0, 0.3);
$black04: rgba(0, 0, 0, 0.4);
$black05: rgba(0, 0, 0, 0.5);

$white01: rgba(255, 255, 255, 0.1);
$white02: rgba(255, 255, 255, 0.2);
$white03: rgba(255, 255, 255, 0.3);
$white04: rgba(255, 255, 255, 0.4);
$white05: rgba(255, 255, 255, 0.5);

$blue01: rgba(49, 86, 121, 0.1);
$blue02: rgba(49, 86, 121, 0.2);
$blue03: rgba(49, 86, 121, 0.3);
$blue04: rgba(49, 86, 121, 0.4);
$blue05: rgba(49, 86, 121, 0.5);
$blue06: rgba(49, 86, 121, 0.6);
$blue07: rgba(49, 86, 121, 0.7);
$blue08: rgba(49, 86, 121, 0.9);
$blue09: rgba(36, 82, 122, 100%);

$facebook: #2067a9;
$twitter: #1da1f2;
$instagram: #b63ab9;
$linkedin: #0077b5;
$youtube: #f82600;
$feeds: #ff8a00;
$acrobat: #b51c1c;
