.footer {
  position: relative;
  padding-top: 4.87rem;
  background: url("/assets/images/home/footer.jpeg") no-repeat center center/cover;
  z-index: 1;

  .overlay {
    background: rgba(161, 161, 161, 0.5);
    background: #eaeaea;
  }

  .footer-content {
    color: #fff;
    position: relative;
    z-index: 3;
    padding: 0;

    .search-bar {
      position: relative;
      margin: 50px 0;

      input {
        // width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
      }
    }

    .footer-details {
      display: flex;
      justify-content: center;
      gap: 4.5rem;
      padding-top: 2.19rem;

      .footer-links {
        list-style: none;
        margin-bottom: 0;

        li {
          margin-bottom: 13px;
        }

        a {
          color: $brand-primary;
          text-decoration: none;
          font-size: 1rem;
        }
      }

      .contact-info {
        text-align: center;

        p {
          text-align: justify;
          margin-bottom: 11px;
          color: $gray;

          &:first-child {
            color: $brand-primary;
            font-size: 1.5rem;
          }

          img {
            // padding-inline-start: 0.38rem;
            padding-left: 0.38rem;
          }
        }

        i {
          color: $brand-primary;
          margin-left: 10px;
        }

        .social-icons {
          text-align: start;
          margin-top: 10px;

          a {
            color: #fff;
            margin: 0 5px;
            font-size: 1.5rem;
          }
        }
      }
    }

    hr {
      color: #454443;
    }

    .footer-copyright {
      text-align: center;
      color: $gray;
      margin: 0.375rem 0 1.125rem 0;
      font-size: 0.75rem;

      p {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 769px) {}

@media screen and (max-width: 580px) {}

@media screen and (max-width: 380px) {}