.side-menu {
  // width: 200px;
  // background-color: #f4f4f4;
  // padding: 20px;
  // border-left: 1px solid #ccc;

  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 10px 0;
      a {
        text-decoration: none;
        color: #333;
        &:hover {
          text-decoration: underline;
        }
        &:active {
          color: $brand-primary;
        }
      }
    }
  }

  .content {
    flex: 1;
    padding: 20px;
    section {
      margin-bottom: 40px;
    }
    h2 {
      color: $brand-primary;
      color: red !important;
    }
  }
}
